

header{
    background-color: rgba(0,0,255,.1);
}
header {
    justify-content: space-around;
}
header i#menu {
    display: none;
    order:1;
}
header nav {
    display: flex;
    order:2;
    width: 44%;
    background-color: none;
    text-align: left;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
header nav {
    text-decoration: none;
    color: whitesmoke;
    font-family: Piedra;
    font-size: 20px;
}

header h1 {
    font-size: 24px;
    order:0;
    font-family: Piedra;
    color: rgb(3, 2, 2);
    letter-spacing: 2px;
    width: 50%;
}
main {
    display: flex;
    flex-flow: row wrap;
    
}


main figure {
    display: flex;
    flex-flow: column wrap;
    height: 600px;
    width:50%;
    order:1;
}
main picture {
    width: 50%;
    height: 25%;
    border: 0px solid black;
}
main picture img {
    height: 100%; width:100%;
}

