header div#top nav#social{
    width: 40%;
    order: 2;
}

header div#top nav#contac{
    width: 55%;
    order: 1;
}

header div#main{
    width: 40%;
}

header div#bottom{
    width: 60%;
}

header div#bottom p{
    width: 33%;
}

header div#bottom i.menu{
    display: none !important;
}

header div#bottom nav{
    width: 25%;
}

main section article{
    width: 47%;
}
