*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
header {
    background-color: rgba(0,0,255,.1);
    display: flex;
    flex-flow: column nowrap;
}
header #top {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    font-family: Dosis;
    height: 100px;
}
.notice {
    color: blue;
    font-size: 20px;
    
}
header #top figure {
    display: none
}
header #top span#open {
    width: 40%;
    color: rgba(0,0,0,.6);
}
header #top nav#sociales {
    width: 40%;
    background-color: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    font-family: Dosis;
}
header #top nav#sociales a {
    width: 20%;
    background-color: none;
    text-align: center;
    color: rgba(0,0,0,.6);
    transition: all 1s;
    text-decoration: none;
}

header #top nav#sociales a:hover {
    color: rgba(0,0,255,.6);
    font-size: 20px;
}

header #top nav#user {
    width:80%;
    color: rgba(0,0,0,.6);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    background-color: none;
}
header #top nav#user a {
    text-decoration: none;
}
header #main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: none;
    align-items: center;
    font-family: Unlock;
    padding: 10px;;
}

header #main figure {
    width: 20%;
}

header #main figure img {
    width: 80px;
}

header #main #titulo {
    width: 60%;
}
header #main #titulo h2 {
    
}
header #main #titulo h4 {
    font-family: Charmonman;
    color: rgba(0,0,0,.6);

}
header #bottom {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    
}
.boton {
    font-family: Dosis;
    font-size: 18px;
    background-color: rgba(0,0,0,.1);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
}
header #bottom #address {
    width: 35%;
}
header #bottom #contact {
    width: 35%;
}
header #bottom a#fav{
    font-size: 30px;
    height: 50px;
    width: 10%;
    text-align: center;
    padding-top: 10px;
    color: rgba(0,0,0,.6);
    transition: .5s all;
}
header #bottom a#fav:hover{
    border-radius: 50px;
    background-color: rgba(0,0,0,.4);

}
header #bottom nav#menu{
    width:80%;
    display: flex;
    flex-flow: column nowrap;
}
header #bottom nav#menu a {
    height: 20%;
    padding: 10px;
    display:flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
    font-family: Dosis;
}
header #bottom nav#menu a:hover {
    background-color:  rgba(255,255,255,.7);
}
header #bottom nav#menu a i {
    width: 10%;
    display: none;
    background-color: none;
    text-align: center;
}
header #bottom nav#menu a i.fa-angle-down {
    display:block;
    order:1;
}
header #bottom nav#menu a span {
    width: 70%;
    order:0
}

header #bottom a#fav:focus + nav#menu {
    display: none;
}
/*
header #bottom a#fav:hover + nav#menu {
    display: block;
}
*/
main {
    padding: 10px;
}
main h3 {
    font-family: Charmonman;
}
section {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

section article {
    margin-top: 10px;;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border:2px solid rgba(0,0,0,.1);
}

section article figure {
    width: 100%;
    margin: 0 auto;
}

section article figure img {
    width: 100%
}
section article figure:hover img {
    border-radius: 5px;
    box-shadow: 3px 3px grey;
}
section article  h4 {
    font-family: Dosis;
    font-size: 20px;
    padding-bottom: 10px
}

section article .ref {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background-color:  rgba(0,0,0,.3);
    width: 100%;
    padding: 5px ;
    font-family: Dosis;
}
section article  .ref .id {
    width: 50%;
    font-size: 18px;
    font-weight: bolder;
}
section article  .ref .precio {
    color: black;
    font-family: Unlock;
    font-size: 18px
}
section article .features {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 5px;
    width: 40%;
}