*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
header{
    background-color: rgba(155, 155, 155, .3);
}
header div#logo{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}
header div#logo figure img{
 width: 100%;
}
header div#logo i{
    width: 50%;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: right ;
    padding-right: 10%;
    align-items: center;
    background-color: 
}
header div#menumovil{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
}
header div#menutablet{
    display: none;
}

header div#menumovil nav#submenu {
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    color: black;
}
header div#menumovil nav#rsociales{
    width: 30%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
main{
 width: 80%;
 margin: auto;
}
main section{
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    text-align: center;
    }
main section p{
    display: none;
}
main section article {
    display: flex;
    margin: auto;
    flex-flow: column nowrap;
    justify-content: space-around;
}
main section article figure img{
    width: 100%;
}

main section p{
    width: 100%;
}