
<div id="qsomos">
  <h3>Quienes Somos</h3>
  <section>
    <p>Comparte la historia de cómo se creó tu empresa – busca humanizar a la marca. En esta sección, puedes hablar de los valores que representas, prestando así un significado más profundo a los productos y servicios que ofreces. Recuerda que las personas no adquieren bienes, ¡sino que buscan experiencias! Una historia original y emotiva te distingue de tu competencia; pasarás de ser una tienda cualquiera a ser la tienda con la que los consumidores crean un vínculo emocional. Un ejemplo sobresaliente es la empresa ITS, un proveedor de herramientas de Reino Unido. Su página de “Quiénes somos” detalla la historia de cómo la empresa creció con el tiempo, superando numerosas adversidades.</p>
  </section>
  <figure>
    <img src="./assets/logos/quienes-somos.png">
  </figure>
</div>
